.hero {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-xl);
  font-size: var(--text-xl);
}

.ctaButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--space-lg);
}

button {
  border-radius: 10px;
  border: none;
}
