footer {
  height: 5vh;
  background-color: var(--color-border);
  display: flex;
  justify-content: flex-end;
}

.socialsList {
  display: flex;
  gap: var(--space-lg);
  margin: 0;
  padding: 0;
  list-style: none;
}
