.navWrapper {
  background-color: var(--color-border);
  color: var(--color-bg);
  font-size: var(--text-xl);
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--space-lg);
}

a {
  text-decoration: none;
  color: var(--color-bg);
}

a:active {
  color: var(--color-accent);
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: var(--space-lg);
}
