.navWrapper {
  font-size: var(--text-xl);
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--space-lg);
}

a {
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: var(--space-lg);
}
